[Desktop Entry]
Type=Application
Name=Proton Drive for Linux
GenericName=Proton Drive sync
Comment=Bidirectional Proton Drive folder sync
Exec=protondrive4linux-gui %U
Icon=protondrive4linux
Terminal=false
Categories=Network;FileTransfer;
Keywords=proton;drive;sync;backup;cloud;
StartupWMClass=protondrive4linux
